.sidebar {
  background: rgba(251, 251, 251, 1);
  padding: 3rem 1rem;
  position: sticky;
  top: 0;
  height: 100vh;
}
.orders-count-container, .cart-count-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}
.cart-count, .orders-count {
  width: 2rem;
  height: 100%;
  border-radius: 5px;
  padding: 0.1rem;
}
.orders-count {
    background-color: #06e775;
}
.cart-count{
    background-color: #F3C294;
}
.brand p {
  font-size: 2rem;
  font-weight: 700;
}

.brand {
  margin: 2rem 0;
  padding-bottom: 4rem;
  gap: 1rem;
  margin-left: 2rem;
}

.nav-items ul {
  list-style: none;
}

.active {
  background-color: #efefef;
  border-radius: 5px;
}
.nav-item {
  width: 100%;
  padding: 0.7rem 0.5rem;
  display: flex;
  gap: 1rem;
  cursor: pointer;
}